<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is {{name}}</h1>
    <p>@{{year}} my project</p>
    <p>I'm from {{location}} </p>
    <ul>
        {% for items in list %}
        <li>{{items}} </li>
        {%endfor%}
    </ul>
    <h3>Skills:</h3>
    <ol>
        {% for items in skills %}
        <li>{{items}} </li>
        {%endfor%}
    </ol>
</body>
</html>